version: "3"
volumes:
  pg_data:
  prometheus_data:
services:
  node_exporter:
    image: prom/node-exporter:v1.7.0
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
  prometheus:
    image: prom/prometheus:v2.48.1
    user: "0:0"
    volumes:
      - ./prometheus-dev-config.yml:/etc/prometheus/prometheus.yml
      - ./container_fixtures/prometheus:/container_init
      - prometheus_data:/prometheus
    entrypoint: "/container_init/prometheus_entrypoint.sh"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=5y'
      - '--storage.tsdb.retention.size=1GB'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
      - '--web.enable-admin-api'
    ports:
      - 9090:9090
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5433:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:3.12.6-management-alpine
    ports:
      - 5673:5672
      - 15673:15672
    environment:
      RABBITMQ_DEFAULT_USER: trento
      RABBITMQ_DEFAULT_PASS: trento
  node01:
    profiles: ['agents']
    image: ghcr.io/trento-project/barbecue-hana_node01:latest
    hostname: hana_node01
    network_mode: host
    command:
      - --api-key
      - some-random-string
      - --facts-service-url
      - amqp://wanda:wanda@localhost:5674
      - --server-url
      - http://localhost:4000
  node02:
    profiles: ['agents']
    image: ghcr.io/trento-project/barbecue-hana_node02:latest
    hostname: hana_node02
    network_mode: host
    command:
      - --api-key
      - some-random-string 
      - --facts-service-url
      - amqp://wanda:wanda@localhost:5674
      - --server-url
      - http://localhost:4000
