version: "3"
volumes:
  pg_data:
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5433:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
  grafana:
    image: grafana/grafana:latest
    environment:
      GF_SECURITY_ALLOW_EMBEDDING: "true"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
    ports:
      - 3000:3000
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.10.5-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: trento
      RABBITMQ_DEFAULT_PASS: trento
