/* This file is for your main application CSS */
@import './markdown.scss';

@tailwind base;

@tailwind components;

@tailwind utilities;

.table-col-xs {
  width: 9rem;
}

.table-col-s {
  width: 14rem;
}

.table-col-m {
  width: 20rem;
}

html {
  background-color: rgb(243 244 246);
}
