<div id="trento" />

<script>
const config = {
    grafanaPublicUrl: '<%= @grafana_public_url %>',
};
</script>

<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/trento.js")}></script>