<!--
  ~ SPDX-FileCopyrightText: SUSE LLC
  ~ SPDX-License-Identifier: Apache-2.0
-->
<EmailLayout.base_email>
  <p>Hi there,</p>
  <p></p>
  <div>
    <%= if @api_key_expired do %>
      <b>Your api key is expired.</b>
    <% else %>
      <b>Your api key is going to expire in {@expire_days} days.</b>
    <% end %>
  </div>
  <p>
    Use the Settings page in the Trento Console to generate a new api key.
  </p>
  <p>Thanks for your attention.</p>
</EmailLayout.base_email>
