<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Trento" %>
    </.live_title>

    <script>
      window.basePath = '<%= case @conn.script_name do [] -> ""; segments -> "/" <> Enum.join(segments, "/") end %>';
    </script>
    <% script_name_prefix =
      case @conn.script_name do
        [] -> ""
        segments -> "/" <> Enum.join(segments, "/")
      end

    css_path = script_name_prefix <> "/assets/app.css"
    js_path = script_name_prefix <> "/assets/app.js"
    favicon_path = script_name_prefix <> "/favicon.ico" %>

    <link rel="icon" type="image/x-icon" href={favicon_path} />
    <link phx-track-static rel="stylesheet" href={css_path} />
    <script defer phx-track-static type="text/javascript" src={js_path}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
