name: E2E Flaky Tests Analysis

on:
  schedule:
    - cron: "0 2 * * *" # Runs every day at 2:00 AM UTC
  workflow_dispatch:
    inputs:
      num_containers:
        description: "Number of containers to use (Max: 200)"
        required: false
        default: "100"
      spec_pattern:
        description: "Spec files pattern (Default: **/*.cy.js)"
        required: false

concurrency:
  group: ${{ github.workflow }}

env:
  MIX_ENV: dev
  DEFAULT_NUM_CONTAINERS: 100

jobs:
  elixir-deps:
    name: Elixir ${{ matrix.mix_env }} dependencies
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup
        id: setup-elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Retrieve Elixir Cached Dependencies
        uses: actions/cache@v5
        id: mix-cache
        with:
          path: |
            deps
            _build/${{ env.MIX_ENV }}
            priv/plts
          key: erlang-${{ steps.setup-elixir.outputs.otp-version }}-elixir-${{ steps.setup-elixir.outputs.elixir-version }}-${{ hashFiles('mix.lock') }}-${{ env.MIX_ENV }}
      - name: Install Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
          mix deps.compile --warnings-as-errors
          mix dialyzer --plt

  npm-deps:
    name: Npm dependencies
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Read .tool-versions
        uses: endorama/asdf-parse-tool-versions@v1.3.4
        id: tool-versions
      - name: Retrieve NPM Cached Dependencies
        uses: actions/cache@v5
        id: npm-cache
        with:
          path: |
            assets/node_modules
          key: nodejs-${{ env.NODEJS_VERSION }}-${{ hashFiles('assets/package-lock.json') }}
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Install NPM dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: cd assets && npm ci

  npm-e2e-deps:
    name: Npm E2E dependencies
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Read .tool-versions
        uses: endorama/asdf-parse-tool-versions@v1.3.4
        id: tool-versions
      - name: Retrieve E2E NPM Cached Dependencies
        uses: actions/cache@v5
        id: npm-e2e-cache
        with:
          path: |
            test/e2e/node_modules
          key: nodejs-${{ env.NODEJS_VERSION }}-${{ hashFiles('test/e2e/package-lock.json') }}
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Install E2E NPM dependencies
        if: steps.npm-e2e-cache.outputs.cache-hit != 'true'
        run: cd test/e2e && npm ci

  generate-matrix:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
      total-runs: ${{ steps.generate.outputs.total-runs }}
    steps:
      - name: Set environment variable for NUM_CONTAINERS
        run: echo "NUM_CONTAINERS=${{ github.event.inputs.num_containers || env.DEFAULT_NUM_CONTAINERS }}" >> $GITHUB_ENV
      - name: Generate Matrix
        id: generate
        run: |
          echo "{\"container\": [$(seq -s, 1 $NUM_CONTAINERS)]}" > matrix.json
          echo "matrix=$(cat matrix.json)" >> $GITHUB_OUTPUT
          echo "total-runs=$NUM_CONTAINERS" >> $GITHUB_OUTPUT
        shell: bash

  test-e2e:
    name: Cypress Run
    needs: [elixir-deps, npm-deps, npm-e2e-deps, generate-matrix]
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        container: ${{ fromJson(needs.generate-matrix.outputs.matrix).container }}
    timeout-minutes: 40
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup
        id: setup-elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Read .tool-versions
        uses: endorama/asdf-parse-tool-versions@v1.3.4
        id: tool-versions
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Retrieve Elixir Cached Dependencies
        uses: actions/cache@v5
        id: mix-cache
        with:
          path: |
            deps
            _build/${{ env.MIX_ENV }}
            priv/plts
          key: erlang-${{ steps.setup-elixir.outputs.otp-version }}-elixir-${{ steps.setup-elixir.outputs.elixir-version }}-${{ hashFiles('mix.lock') }}-${{ env.MIX_ENV }}
      - name: Retrieve NPM Cached Dependencies
        uses: actions/cache@v5
        id: npm-cache
        with:
          path: |
            assets/node_modules
          key: nodejs-${{ env.NODEJS_VERSION }}-${{ hashFiles('assets/package-lock.json') }}
      - name: Retrieve E2E NPM Cached Dependencies
        uses: actions/cache@v5
        id: npm-e2e-cache
        with:
          path: |
            test/e2e/node_modules
          key: nodejs-${{ env.NODEJS_VERSION }}-${{ hashFiles('test/e2e/package-lock.json') }}
      - name: "Docker compose dependencies"
        uses: isbang/compose-action@v2.5.0
        with:
          compose-file: "./docker-compose.yaml"
          compose-flags: "--profile wanda"
          down-flags: "--volumes"
      - name: Mix setup
        run: mix setup
      - name: Run trento detached
        run: mix phx.server &
      - name: Install photofinish
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: trento-project/photofinish
          tag: v1.4.2
          cache: enable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Give executable permissions to photofinish
        run: chmod +x $(whereis photofinish | cut -d" " -f2)
      - name: Set ENV_TS to get current Timestamp for JUnit reports
        run: echo "ENV_TS=$(date +%F_%T | sed 's/:/-/g')" >> $GITHUB_ENV
      - name: Cypress run
        uses: cypress-io/github-action@v7
        env:
          cypress_video: false
          cypress_db_host: postgres
          cypress_db_port: 5432
          cypress_photofinish_binary: $(whereis photofinish | cut -d" " -f2)
        with:
          command: npx cypress run --reporter junit --reporter-options mochaFile=/tmp/trento-e2e-junit-[hash]-${{ env.ENV_TS }}.xml --spec ${{ github.event.inputs.spec_pattern || '**/*.cy.js' }}
          working-directory: test/e2e
          wait-on-timeout: 30
      - name: Upload cypress test junit reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: e2e-junit-reports-${{ matrix.container }}
          path: /tmp/*.xml
          retention-days: 1
      - name: Upload cypress test screenshots
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: e2e-screenshots-${{ matrix.container }}
          path: test/e2e/cypress/screenshots/**/*.png
          retention-days: 7

  flaky-tests-analysis:
    needs: [test-e2e, generate-matrix]
    if: ${{ !cancelled() }}
    uses: ./.github/workflows/flaky-tests-analysis.yaml
    with:
      suite-name: E2E
      junit-artifact-pattern: e2e-junit-reports-*
      total-runs: ${{ needs.generate-matrix.outputs.total-runs }}
