name: Pre-release

on:
  push:
    branches:
      - main
    paths-ignore:
      - "VERSION"

permissions:
  contents: read

jobs:
  update-release-draft:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "main"
      - uses: release-drafter/release-drafter@v6
        with:
          disable-autolabeler: true
          config-name: release_drafter.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
